body {
  max-width: 380px;
  margin: auto;
  background: #fff;
  color: #7db96f;
  text-align: center;
  font-family: 'Quattrocento', serif;
}

img {
  display: block;
  max-width: 10%;
}

header {
  background-image: url(../img/background.png);
  background-size: cover;
  padding: 30px;
  font-size: 20px;
  border-top: #7db96f solid 8px;
}

.box-title {
  background: rgba(255, 255, 255, 0.900);
  padding: 15px 55px;
  margin-bottom: 10px;
}

nav a {
  background: #7db96f;
  color: #fff;
  text-decoration: none;
  margin-top: 15px;
  padding: 10px 25px;
  border-radius: 15px;
  font-family: 'Maven Pro', sans-serif;
}

.light-cta {
  background: #fff;
  color: #7db96f;
}

.section-produits {
  background: #7db96f;
  color: #fff;
}

.fraise {
  background: #e2a2b1;
}

.cafe {
  background: #cdc4b0;
}

.kiwi {
  background: #d0f1ae;
}

.banane {
  background: #fcf7d6;
}

.produit-container {
  text-align: left;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.section-produits img {
  max-width: 20%;
}

h1 img {
  max-width: 100%;
}

.section-intro,
.section-produits div {
  color: black;
}

.section-intro {
  padding: 90px 65px;
}

h2 {
  font-family: 'Maven Pro', sans-serif;
}